@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(45deg, rgb(236, 204, 140) 0%, rgb(236, 204, 140) 11%,rgb(212, 161, 111) 11%, rgb(212, 161, 111) 24%,rgb(188, 117, 83) 24%, rgb(188, 117, 83) 29%,rgb(164, 74, 54) 29%, rgb(164, 74, 54) 33%,rgb(140, 30, 25) 33%, rgb(140, 30, 25) 100%);
}
.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-wrapper{
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.144);
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3% 1%;
    border-radius: 15px;
}

.form-wrapper{
    margin-bottom: 3%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.form-wrapper form{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.form-wrapper input{
    width: 80%;
    padding: 0.3rem 0.9rem;
    font-size: 1.5rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none
}
.form-wrapper button{
    width: 20%;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    font-size: 1.2rem;
    background: rgb(100, 28, 213);
    color: white;
    transition: all 0.9s ease-in-out;
}
.form-wrapper button:hover{
    background: rgb(200, 17, 190)
}

.todoList-wrapper{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    padding: 1%;
    text-align: center;
}
.todoList-wrapper button{
    margin-top: 12%;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    background: slateblue;
    color: white;
    transition: all 0.5s ease-in-out;
    padding: 0.5rem 1rem;
}
.todoList-wrapper button:hover{
    background: darkslateblue;
}

.task{
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 0.1rem 1rem;
    border-radius: 10px;
    
    text-align: left;
    margin: 1% auto;
    transition: all 0.5s ease-out;
}
.task:hover{
    transform: scale(1.1);
}

.task p{
    user-select: none;
}

.completed{
    text-decoration: line-through;   
}
